.h1{
    padding:3%  34% !important;
    margin-top: 15% !important;
    color: #03A678
}
.h2{
    padding:1% 34% !important;
    color: #03A678
}
.h3{
    padding:1% 37% !important;
    color: #03A678
}
.Buttonhey{
    margin:5% 45% !important ;
    background-color:#03A678 !important;
    color: #502000 !important;
}
.Buttonhey:hover{
    background-color:#02735E !important;
  }
body{
    background-image: url("./assets/background.png");
    background-color:#003840;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}